header{
  height:100px;
  background-color: #444;
  width:100%;
  margin-bottom:30px;
  
}
header>img{
  margin: 20px 0;
  float:left;
  margin-left:10px;
}
header>a{
  padding: 50px;
  float:left;
  text-decoration: none;
  color:rgb(158, 157, 157);
}
article{
  margin: 30px 0; 
}
article img:nth-of-type(2){
  margin: 0 30px 0 30px;
}
body {
  font-family: 'Helvetica', sans-serif;
}
footer{
  margin-top: 30px;
  height:6em;
  background-color: #444;
}
section{
  width:960px;
}
section:last-child > img{
float:left;
}
p{

  width:400px;
  height:350px;
  overflow:scroll;
}
button{
  background-color:#000;
  color:#fff;
  height:30px;

}
button:hover{
  background-color:#fff;
  color:#000;
}
section{
  font-style:italic;
}
h3{
  font-style:normal;
  margin-bottom: 10px;
}
div{
  display: inline-block;
  margin: 0 30px;
}