header{
  height:100px;
  background-color: #444;
  width:100%;
  margin-bottom:30px;
}
header>img{
  margin: 20px 0;
  float:left;
  margin-left:10px;
}
header>a{
  padding: 56px;
  float:left;
  text-decoration: none;
}
main{
  text-align: center;
  margin: 0 0 30px 0;
  width:960px;
}
body > section > img:nth-of-type(2) {
  margin:0 25px;
}
body {
  font-family: 'Helvetica', sans-serif;
}
footer{
  height:6em;
  background-color: #444;
}
body>section:nth-of-type(1){
  width:960px;
}
body>p{
  float:left;
  margin: 30px 0;
  margin-right: 30px;
}
body > section:nth-of-type(2){
  margin: 30px 0;
  width:400px;
  height:400px;
  overflow:scroll;
}
button:hover{
  background-color:black;
  color:white;
}
section{
  font-style:italic;
}